<!DOCTYPE html>
<html lang="en">

<head>
  <title>Express+TS</title>
</head>

<body style="
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    ">
  <div>
    <img src="https://www.svgrepo.com/show/330398/express.svg" alt="Express" width="50px" style="display: inline-block" />
    <img src="https://www.svgrepo.com/show/374146/typescript-official.svg" alt="Typescript" width="50px" style="display: inline-block" />
  </div>
  <code style="
        padding: 4px;
        border-radius: 6px;
        background-color: rgb(230, 230, 230);
      ">
    npx degit harsh07may/express-ts
  </code>
</body>

</html>